.steamchecker-ownedGame {
  filter: grayscale(1);
}
.steamchecker-ownedGame:after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #0008;
  box-shadow: inset 0px 0px 10px black, inset 0px 0px 20px black !important;
  transition: all 0.5s ease-out;
  pointer-events: none;
}

.steamchecker-wishedGame {
  filter: sepia(1) contrast(0.9) saturate(10);
  box-shadow: inset 0px 0px 70px #daa700, 0 0 10px #ffc400, 0 0 20px #ffc400,
    0 0 30px #ffc400 !important;
  transition: all 0.5s ease-out;
}

/*HUMBLE BUNDLE KEYS*/
.steamchecker-ownedKey {
  box-shadow: inset 0 1px 6px black;
  background: #8e8e8e !important;
  transition: all 0.5s ease-out;
}
.steamchecker-ownedKey .game-name a {
  color: #484848;
  transition: all 0.5s ease-out;
}
.steamchecker-ownedKey .keyfield {
  background: #cecece !important;
  color: #6f6f6f !important;
  border-color: #848484 !important;
  transition: all 0.5s ease-out;
}
.steamchecker-ownedKey .hb-gift {
  position: relative;
}
.steamchecker-ownedKey .hb-gift .steamchecker-star {
  position: absolute;
  left: calc(50% - 32px);
  top: calc(50% - 32px);

  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  filter: blur(3px);

  -webkit-animation: fs-rotate 4s linear infinite;
  -moz-animation: fs-rotate 4s linear infinite;
  animation: fs-rotate 4s linear infinite;
}
.steamchecker-ownedKey i.hb-gift {
  color: #ffd700;
  text-shadow: 0 0 10px black, 0 0 20px #ffd700, 0 0 50px #ffd700;
  transition: all 0.5s ease-out;
}
.steamchecker-ownedKey .giftfield {
  background-color: #ffeb86 !important;
  overflow: hidden;
}

.steamchecker-wishedKey {
  background-color: #ffd700 !important;
  box-shadow: 0 0 20px yellow;
}
.steamchecker-wishedKey .keyfield {
  background: rgb(255, 255, 255);
  box-shadow: 0 0 5px #ff6900;
  font-weight: bold;
  color: #656565;
}

@-moz-keyframes fs-rotate {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes fs-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes fs-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
